.flex-row {
  flex-direction: row !important;
}

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.navbar-light {
  .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
  }
  .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 0.5);
  }
}

.align-middle {
  vertical-align: middle !important;
}

