
<header class="header sticky-top">
  <nav class="navbar navbar-light bg-white px-sm-4 ">
    <a class="navbar-brand py-2 d-md-none  m-0 material-icons toggle-sidebar" (click)="toggleSidebar()">menu</a>
    <ul class="navbar-nav flex-row ml-auto">
      <li class="nav-item dropdown" dropdown>
        <a href="javascript:void(0)" class="nav-link weight-400 dropdown-toggle" dropdownToggle>
          <i class="fa fa-user"></i>
        </a>
        <div *dropdownMenu class="dropdown-menu  dropdown-menu-right" role="menu">
          <a class="dropdown-item">My Account</a>
          <a class="dropdown-item">Account Settings</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/auth/login']">Logout</a>
        </div>
      </li>

    </ul>

  </nav>

</header>
